.song-info {
  display: flex;
  align-items: center;
  max-width: 200px;
}

.song-title-and-artist {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
}

.song-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}
