.music-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 0 16px;
}

.music-player .controls {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
