* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #454545;
}

.clickable {
  cursor: pointer;
}

.tabs {
  display: flex;
  margin: 16px;
  color: #fff;
}

.tab {
  margin-right: 16px;
  font-size: 22px;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  display: flex;
  align-items: center;
}

.tab-label {
  margin-left: 4px;
}

.active-tab {
  border-bottom: 2px solid #fff;
}

.song-list {
  margin: 16px;
  overflow: auto;
  margin-bottom: 148px;
}

.song-spacer {
  margin-bottom: 10px;
}
